<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img src="https://avatars2.githubusercontent.com/u/7487565?s=460&v=4" alt="Slava Belaev" class="mat-toolbar__avatar">
    <span class="mat-toolbar__title">{{title}}</span>
    <span class="mat-toolbar__description">— Frontend Developer</span>
    <span class="mat-toolbar__path">/ Portfolio</span>
    <span class="mat-toolbar__spacer"></span>
    <a href="mailto:slav@belaev.pro" 
       mat-flat-button 
       matTooltipPosition="left"
       matTooltip="slav@belaev.pro"
       color="accent" 
       class="mat-toolbar__button"><mat-icon>email</mat-icon> Contact Me</a>
    <a target="_blank" 
       href="tg://resolve?domain=slavabelaev" 
       matTooltip="My Telegram"
       mat-icon-button>
      <mat-icon svgIcon="telegram" class="icon_size_28"></mat-icon>
    </a>
    <a target="_blank" 
       href="https://www.upwork.com/o/profiles/users/_~01e82aef512027f4ff/" 
       matTooltip="My Upwork Profile"
       mat-icon-button>
      <mat-icon svgIcon="upwork" class="icon_size_28"></mat-icon>
    </a>
    <a target="_blank" 
       href="https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile" 
       matTooltip="My LinkedIn Profile"
       mat-icon-button>
      <mat-icon svgIcon="linked-in" class="icon_size_28"></mat-icon>
    </a>
    <a target="_blank" 
       href="https://github.com/belaevslava" 
       matTooltip="My GitHub Profile"
       mat-icon-button>
      <mat-icon svgIcon="github" class="icon_size_28"></mat-icon>
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<main class="app__scroller">
  <router-outlet></router-outlet>
</main>


